$grey: #414361;
$purple: #7f2ccb;
$black: #2a2d43;

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $grey;

  .inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    border-radius: 25px;
    background-color: $purple;
    padding: 50px;
    color: white;
    min-height: 600px;

    .search-bar {
      margin-right: 20px;
    }
  }
}
