.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #414361; }
  .outer-container .inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    border-radius: 25px;
    background-color: #7f2ccb;
    padding: 50px;
    color: white;
    min-height: 600px; }
    .outer-container .inner-container .search-bar {
      margin-right: 20px; }
